<div class="container">
  <div class="card p-mt-2">
    <p-toast></p-toast>
    <p-table
      #dt
      [value]="applications"
      selectionMode="single"
      [(selection)]="selectedApplication"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="[
        'firstName',
        'lastName',
        'tcNo',
        'phone',
        'income',
        'creditAmount',
        'creditType',
        'applicationDate'
      ]"
      class=""
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3em"></th>
          <th pSortableColumn="firstName">
            Ad
            <p-sortIcon field="firstName"></p-sortIcon>
            <p-columnFilter type="text" field="firstName" display="menu" />
          </th>
          <th pSortableColumn="lastName">
            Soyad
            <p-sortIcon field="lastName"></p-sortIcon>
            <p-columnFilter type="text" field="lastName" display="menu" />
          </th>
          <th pSortableColumn="tcNo">
            TC Kimlik No
            <p-sortIcon field="tcNo"></p-sortIcon>
            <p-columnFilter type="text" field="tcNo" display="menu" />
          </th>
          <th pSortableColumn="phone">
            Telefon
            <p-sortIcon field="phone"></p-sortIcon>
            <p-columnFilter type="text" field="phone" display="menu" />
          </th>
          <th pSortableColumn="income">
            Gelir
            <p-sortIcon field="income"></p-sortIcon>
            <p-columnFilter type="text" field="income" display="menu" />
          </th>
          <th pSortableColumn="creditAmount">
            Kredi Tutarı
            <p-sortIcon field="creditAmount"></p-sortIcon>
            <p-columnFilter type="text" field="creditAmount" display="menu" />
          </th>
          <th pSortableColumn="creditType">
            Kredi Tipi
            <p-sortIcon field="creditType"></p-sortIcon>
            <p-columnFilter type="text" field="creditType" display="menu" />
          </th>
          <th pSortableColumn="applicationDate">
            Başvuru Tarihi
            <p-sortIcon field="applicationDate"></p-sortIcon>
            <p-columnFilter
              type="date"
              field="applicationDate"
              display="menu"
            />
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-application let-expanded="expanded">
        <tr>
          <td>
            <a
              href="#"
              (click)="dt.toggleRow(application); $event.preventDefault()"
            >
              <i
                class="pi"
                [ngClass]="expanded ? 'pi-chevron-down' : 'pi-chevron-right'"
              ></i>
            </a>
          </td>
          <td>{{ application.firstName }}</td>
          <td>{{ application.lastName }}</td>
          <td>{{ application.tcNo }}</td>
          <td>{{ application.phone }}</td>
          <td>{{ application.income }}</td>
          <td>{{ application.creditAmount }}</td>
          <td>{{ application.creditType }}</td>
          <td>{{ application.applicationDate }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-application>
        <tr>
          <td colspan="8">
            <div class="p-ml-4">
              <h5>Detaylar</h5>
              <p><strong>ID:</strong> {{ application.id }}</p>
              <p><strong>Adı:</strong> {{ application.firstName }}</p>
              <p><strong>Soyadı:</strong> {{ application.lastName }}</p>
              <p><strong>TC Kimlik No:</strong> {{ application.tcNo }}</p>
              <p><strong>Telefon:</strong> {{ application.phone }}</p>
              <p><strong>Gelir:</strong> {{ application.income }}</p>
              <p>
                <strong>Kredi Tutarı:</strong> {{ application.creditAmount }}
              </p>
              <p><strong>Kredi Tipi:</strong> {{ application.creditType }}</p>
              <p>
                <strong>Başvuru Tarihi:</strong>
                {{ application.applicationDate | date : "dd/MM/yyyy" }}
              </p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
